**FUNCTIONS**
 -> Benefits: code modularity,code readability,code reusability

In [ ]:
#create a function
def my_function():
  """ this is a docstring i.e. if something is return in triple quotes then it is a docstring"""
  print("hi,my name is prameela")
my_function()

hi,my name is prameela

In [ ]:
my_function.__doc__ #to view the documentation written in the code

' this is a docstring i.e. if something is return in triple quotes then it is a docstring'

#types of arguments :  argument,positional argument,keyword argument

In [ ]:
def power(a=1,b=2): #default argument if a n b doesnt alloted any number
  return a**b
power(2,3)

8

In [ ]:
#positional argument
power(2,3)#i.e. a gets alloted as a and b gets allotted as b it follows a order.

4

In [ ]:
#keyword arguments

power(b=2,a=3) #alloting values though we dont know the position of the element

9

In [ ]:
#*args and **kwargs
#*args : to handle any 'n' number of arguments.
def mutliply(*args): #no need to use only args can use any word in that place *prameela also.
  result=1
  for i in args:
    result=result*i
  return result
print(mutliply(2,3))
#**kwargs : allows us to allow any number of keyword argument ,contains a key-value pair like dictionary for rest we use *args
def display(**kwargs): #no need to use only kwargs can use any word like **satyavathi anything.
  for (key,value) in kwargs.items():
    print(key,"->",value)
display(A=1,B=2,C=3)

6
A -> 1
B -> 2
C -> 3

In [ ]:
#without return
def alphabet():
  print("abcdefghijklmnopqrstuvwxyz")
print(alphabet())

In [ ]:
#variable scope :global vs local
def f(x):
  print(y)
  print(y+1)
y=6
f(y)
print(y)

6
7
6

In [ ]:
#nested loops
def f():
  def g():
    print('g')
  g()
  print('f')
f()

g
f

In [ ]:
#functions are first class citizens : functions act as a data type in python.
#type n id
def square(sum):
  return sum**2
type(square)
id(square)

139291042858896

In [ ]:
#reassign
x=square
id(x)
x(3)

9

In [ ]:
#deleting a function
del square
square(2)

NameError: name 'square' is not defined

In [ ]:
#storing
L=[1,2,3,4,square]
L[-1](3)

9

In [ ]:
s={square}
s

{<function __main__.square(sum)>}

#lambda function : anonymous function,can take any no. of arguments , but can have only one expression.

In [ ]:
#lamda functions are not resuable,no name,no return value(returns a function,written in 1 line    adv: used in higher order functions[HOF])
#lambda a,b:a+b
a=lambda x,y:x+y
print(a(2,4))
lambda x,y:x+y #returning function

6

In [ ]:
#odd or even
a = lambda x:'even' if x%2==0 else 'odd'
print(a(3))

odd

In [ ]:
#HOF
def square(x):
  return x**2
def transform(f,n):
  return f(n)
transform(square,3)

9

In [ ]:
#map
list(map(lambda x:x**2,[1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
#fetch names
users=[
    {
        'name':'prameela',
        'age':22
    },
    {
        'name':'satyavathi',
        'age':22
    }

]
list(map(lambda user:user['name'],users))

['prameela', 'satyavathi']

In [ ]:
#filter
list(filter(lambda x:x%2==0,[1,2,3,4]))

[2, 4]

In [ ]:
#reduce
from functools import reduce
reduce(lambda x,y:x+y,[1,2,3,4])

10

In [ ]:
#find min
reduce(lambda x,y:x if x<y else y,[1,2,3,4])

1