**TUPLES**

Tuples:
Similar to list,
immutable list,
ordered,
unchangeable,
allows duplicates.

In [ ]:
#empty
t1=()
print(t1)

()

In [ ]:
#create a tuple with single tuple
t2=('hi',) #comma helps in guving the output as a tuple rather than simple string
print(t2)

('hi',)

In [ ]:
#homo
t3=(2,3,45)
print(t3)

(2, 3, 45)

In [ ]:
#hetero
t4=(1,2,'hi')
print(t4)

(1, 2, 'hi')

In [ ]:
#tuple
t5=(1,2,3,(4,5))
print(t5)

(1, 2, 3, (4, 5))

In [ ]:
#using type conversion
t6=tuple('hello')
print(t6)

('h', 'e', 'l', 'l', 'o')

Accessing items:
indexing and slicing

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])

(2, 3, 45)
2
45

In [ ]:
print(t3[::-1])

(45, 3, 2)

In [ ]:
t5[-1][0]

4

In [ ]:
#editing items
t3[0]=27 #since immutable returns error.

TypeError: 'tuple' object does not support item assignment

In [ ]:
#adding items
t3[4]=27 #since immutable returns error.

TypeError: 'tuple' object does not support item assignment

In [ ]:
#deletion
#del t4[0] #since immutable returns error.
#but
del t4
print(t4) #return t3 undefined as it deltes

NameError: name 't4' is not defined

In [ ]:
#operations on tuples
print(t2+t4)
print(t2*3)
for i in t4:
  print(i)

('hi', 1, 2, 'hi')
('hi', 'hi', 'hi')
1
2
hi

In [ ]:
#tuple functions
print(len(t3))
print(max(t3))
print(min(t3))
print(sum(t3))
sorted(t3,reverse=True)

3
45
2
50

[45, 3, 2]

In [ ]:
#count
t3.count(50)

0

In [ ]:
#index
t3.index(0) #returns error

ValueError: tuple.index(x): x not in tuple

In [ ]:
#tuple unpacking
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [ ]:
a,b=1,2,3
print(a,b) #too many values

ValueError: too many values to unpack (expected 2)

In [ ]:
#swapping
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [ ]:
a,b,*others=(1,2,3,4,5)
print(a,b,others)

1 2 [3, 4, 5]

In [ ]:
#zipping tuples
a=(1,2,3,4)
b=('a','b','c','d')
c=zip(a,b)
print(tuple(c))

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'))

**SETS**

Sets: unordered colelction of items,mutable,no duplicates,cant contain mutable data types.

In [ ]:
#creating sets
#empty set
s={}
print(s)
print(type(s)) #gives dict so this isnt a right way
s=set() #since the default one is alloted to dict we use type conversion
print(s)

{}
<class 'dict'>
set()

In [ ]:
# 1d and 2d
s1={1,2,3}
print(s1)
s2={1,2,3,{4,5}} #in set it isnt possible
print(s2)

{1, 2, 3}

TypeError: unhashable type: 'set'

In [ ]:
#homo
s3={1,'hello',4.5,(1,2,3)}
print(s3)
s4=set([1,2,3]) #type conversion
print(s4)
s5={1,1,2,3,3,4}#duplicates not allowed
print(s5)
#s6={1,2,[3,4]}
#print(s6) #unhashable list

{1, 'hello', (1, 2, 3), 4.5}
{1, 2, 3}
{1, 2, 3, 4}

In [ ]:
s1={1,2,3}
s2={3,2,1}
print(s1==s2) #order doesnt matter

True

In [ ]:
#accessing items
s1={1,2,3,4}
s1[0] #indexing cannot be done as they are unordered

In [ ]:
#editing items
s1={1,2,3,4}
s1[0]=27 #cannot be done as we cant follow the indexing functionality

In [ ]:
#adding items
s={1,2,3,4}
s.add(5)
print(s)
#update -multiple items at a item unlike add where we can add one.
s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#deleting items
s={1,2,3,4,5}
#del s[0] #cannot be done as we cant follow the indexing functionality
del s #works
s={1,2,34,4,5}
#discard
s.discard(5) #doesnt throw an error if element isnt available
print(s)
#remove
s.remove(4) #throws an error if item isnt available
print(s)
#pop
s.pop()
print(s)
#clear
s.clear()
print(s)

{1, 2, 34, 4}
{1, 2, 34}
{2, 34}
set()

In [ ]:
#set operations
#union
s1={1,2,3,4}
s2={12,2,3,5,6,7}
print(s1|s2)
#intersection
print(s1&s2)
#difference
print(s1-s2)
print(s2-s1)
#symmetric difference
print(s1^s2)
#membership test
print(1 in s1)
#iteration

{1, 2, 3, 4, 5, 6, 7, 12}
{2, 3}
{1, 4}
{12, 5, 6, 7}
{1, 4, 5, 6, 7, 12}
True